body {
  background-color: #eee;
}

#root {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

table {
  max-width: 50%;
  max-height: 80%;
  min-width: 20em;
}

table, th, td {
 border: 1px solid;
}

td, th {
  padding: 0.5em;
}